* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.pure-g{
    letter-spacing:0em;
}

#content {
    padding-top:53px;
}

#footer {
    background-color:#333;
}

#footer div{
    padding-top:7px;
    padding-left:3px;
    padding-right:3px;
}

#footer .pure-button{
    text-align:center;
    /* background-color:rgb(240, 55, 0); */
    background-color:white;
    color:#333;
    width:100%;
    padding-top:15px;
}

#playing{
    width:100%;
    height:170px;
    background-color:#333;
    padding-top:10px;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#tracks{
    overflow:auto;
}

.track{
    font-size:9px;
    padding-left:5px;
    padding-right:15px;
    margin-bottom:5px;
    text-align: left;
}

.track img{
   border-radius:5px;
}

.track.active img{
    border-left:5px solid rgb(240,70,0);
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    padding: 0.5em 2em;
    border-radius: 5px;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
    }
    /* We want to give the content area some more padding */
    #content {
    }

    #footer {
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
}


/*
 * player
 */
iframe {
     display:block;
     border:0;
     margin-bottom: 20px;
}

/*
 * CSS Arrow
 * http://cssarrowplease.com/
 */

 .arrow_box {
 	position: relative;
 	background: #ffffff;
 	border: 3px solid #c0c0c0;
 }
 .arrow_box:after, .arrow_box:before {
 	top: 100%;
 	left: 80%;
 	border: solid transparent;
 	content: " ";
 	height: 0;
 	width: 0;
 	position: absolute;
 	pointer-events: none;
 }

 .arrow_box:after {
 	border-color: rgba(255, 255, 255, 0);
 	border-top-color: #ffffff;
 	border-width: 10px;
 	margin-left: -10px;
 }
 .arrow_box:before {
 	border-color: rgba(192, 192, 192, 0);
 	border-top-color: #c0c0c0;
 	border-width: 14px;
 	margin-left: -14px;
 }

 /* additinal */
 .arrow_box {
    padding:10px;
    margin-bottom:15px;
 }

 .message{
    min-height:110px;
    max-height:200px;
    overflow:auto;
 }

.message .title{
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.arrow_box .message pre{
    font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif !important;
}
.arrow_box .message a{
    color:#7f8c8d;
}
