<script type="text/html" id="none-template">
        No tracks.
</script>

<script type="text/html" id="track-template">
    <a data-bind="text: item.title, attr{ href:item.permalink_url }" class="title" target="_blank"></a>
    <div style="width:100%;margin-bottom:10px">
        <div style="float:right">
        </div>
        <br style="clear:both"/>
    </div>
    <div>
        <div>
            <div style="float:left;font-size:12px;margin-right:20px">
                <table class="pure-table">
                    <thead>
                    <th>Parameter</th>
                    <th>Count</th>
                    </thead>
                    <tbody>
                    <tr><td>Genre</td><td data-bind="text:item.genre" style="text-overflow: ellipsis;"></td></tr>
                    <tr><td>PlayBack</td><td data-bind="text:item.playback_count" style="text-align:right"></td></tr>
                    <tr><td>Like</td><td data-bind="text:item.favoritings_count" style="text-align:right"></td></tr>
                    <tr><td>Download</td><td data-bind="text:item.download_count" style="text-align:right"></td></tr>
                    <tr><td>Comments</td><td data-bind="text:item.comment_count" style="text-align:right"></td></tr>
                    <tr><td>Created At</td><td data-bind="text:item.created_at"></td></tr>
                    </tbody>
                </table>
            </div>

            <div style="float:left">
                <canvas id="trackRaderChart" width="200" height="200" ></canvas>
            </div>
            <br style="clear:both"/>
        </div>
        <pre data-bind="text: item.description"></pre>
    </div>
</script>

<script type="text/html" id="like-template">
    <div data-bind="visible: $data.length == 0">No liked tracks.</div>
    <pre >すきなとらっく</pre>
</script>


<script type="text/html" id="message-template">
    <pre data-bind="text: message"></pre>
    <div>
        <button  class="pure-button" data-bind="click: $root.retry, visible:($root.guideMode() == $root.guide_mode.retry)">Retry Loading</button>
    </div>
</script>

<script type="text/html" id="criticize-template">
    <div data-bind="text: text" class="title"></div>
    <div>
        <button  class="pure-button" data-bind="click: function(){ $root.answer(true, option) } ">Yes</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="pure-button" data-bind="click: function(){ $root.answer(false, option) } ">No</button>
    </div>
</script>

<script type="text/html" id="playlist-template">
    <span>Do you register your favorite list as playlist?</span>
    <form data-bind="submit: $root.makePlaylist" class="pure-form">
        <fieldset>
            <input type="text" name="name" placeholder="Playlist name" data-bind="value: $root.liked().length > 0 ? $root.liked()[0].item.title : ''">
            <label for="rblprivate" class="pure-radio">
                <input id="rblprivate" type="radio" name="rblsharing" value="private">
                private
            </label>
            <label for="rblpublic" class="pure-radio">
                <input id="rblpublic" type="radio" name="rblsharing" value="public" checked>
                public
            </label>
            <div>
                <input type="submit"  class="pure-button" value="Make" style="float:left;margin-right:10px" />
                <div id="playlistMessage" style="float:left;margin-top:10px"></div>
                <br style="clear:both"/>
            </div>
        </fieldset>
    </form>
</script>